Click generated password to copy to Password field
{% for password in passwords %}
    <div class="box-body">

        <span onclick="$('#login_plainPassword').val(&quot;{{ password }}&quot;)">{{ password }}</span>
    </div>
{% endfor %}